/*-----
	Base Styles
	-----*/
img {
    max-width: 100%;
    display: block;
    margin: auto;
}
html.fsModalOpen {
    overflow-y: hidden;
    height: 100%;
    min-height: 100%;
    body {
        overflow-y: hidden;
        height: 100%;
        min-height: 100%;
    }
}

body {
    @include font-primary-regular();
    color: $color-darkGray;
    font-size: 14px;
    text-align: center;
}

h1 {
    @include font-roboto-light();
    font-size: 60px;
    line-height: 1.3em;
    margin-bottom: $standard-verticalPadding;
    color: $color-white;
    font-weight: 700;
    @media (max-width: 933px) {
        font-size: 40px;
    }
    @media (max-width: 500px) {
        font-size: 30px;
    }
}
h2 {
    @include font-roboto-light();
    font-size: 40px;
    line-height: 1.5em;
    margin: 0 auto;
    margin-bottom: $standard-bottomMargin;
    max-width: 1000px;
    padding: 0 10px;
    @media (max-width: 933px) {
        font-size: 30px;
    }
    ~ p {
        margin: auto;
        max-width: 800px;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 38px;
        }
    }
}
h3 {
    @include font-primary-light();
    line-height: 1.3em;
    font-size: 30px;
    margin-bottom: 8px;
    a {
        color: $color-link;
        border-bottom: solid 1px rgba($color-link, 0);
        transition: all .2s ease;
        &:hover {
            border-color: rgba($color-link, 1);
        }
    }
    @media (max-width: 933px) {
        font-size: 24px;
    }
}
h4 {
    font-size: 18px;
    line-height: 1.25em;
    @include font-primary-bold();
    margin-bottom: $standard-bottomMargin/2;
}
h5 {
    font-size: 14px;
    font-weight: 700;
    color: $color-darkGray;
    text-transform: uppercase;
    line-height: 1.5em;
    margin-bottom: 4px;
}
h6 {
    font-size: 40px;
    @include font-roboto-bold();
    color: $color-white;
    line-height: 1.5em;
    margin-bottom: 20px;
    @media (max-width: 933px) {
        font-size: 28px;
    }
}
p, label, table, table td, table th {
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: $standard-verticalPadding;
    @include font-primary-regular();
}
p + h4 {
    margin-top: 40px;
}
p.small {
    position: relative;
    font-size: 14px;
}
p.large {
    font-size: 24px;
}
strong, b {
    font-weight: 700;
}
em, i {
    font-style: italic;
}
small {
	font-size: 14px;
}
ul li,
ol li,
dl dt,
dl dd{
    font-size: 14px;
    line-height: 2em;
    @media screen and (min-width: $break-tabletSmall) {
	    font-size: 16px;
    }
}
dl {
    dt {
        line-height: 1.4;
        float: left;
        clear: left;
        width: 30%;
        min-width: 200px;
        @media (min-width: $break-mobileSmall) {
	        margin-bottom: 20px;
        }
    }
    dd {
        line-height: 1.4;
        float: left;
        width: 100%;
        margin-bottom: 20px;
        @media (min-width: $break-mobileSmall) {
	        width: 50%;
        }
    }
    a:not([role="button"]) {
        font-weight: 400;
    }
}
a {
    text-decoration: none;
    transition: all .2s ease-out;
    color: $color-orange;
    border-bottom: solid 1px rgba($color-orange, 0);
    &:hover {
        border-color: rgba($color-orange, 1);
    }
}

.normal-weight {
    font-weight: 400;
}

hr {
    border: none;
    border-bottom: solid 1px $color-gray;
    font-size: 1px;
    height: 1;
    margin: $standard-bottomMargin 0;
    background: transparent;
}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="number"] {
    color: $color-black;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    @include font-primary-regular();
    &.whiteBg {
        background: $color-white !important;
    }
    &.inputWhite {
        background: $color-white !important;
        height: 65px;
        padding: 0 25px !important;
    }
    @media screen and (min-width: $break-tabletSmall) {
        font-size: 18px;
    }
    @media screen and (min-width: $break-desktopSmall) {
        font-size: 21px;
    }
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $color-darkGray;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color-darkGray;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color-darkGray;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color-darkGray;
    }
}
button {
    cursor: pointer;
}
button:focus {
    outline: 0;
}
textarea {
    color: $color-black;
    font-size: 16px;
    line-height: 1.7;
    @include font-primary-regular();
    @media screen and (min-width: $break-tabletSmall) {
        font-size: 18px;
    }
    @media screen and (min-width: $break-desktopSmall) {
        font-size: 21px;
    }
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $color-darkGray;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color-darkGray;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color-darkGray;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color-darkGray;
    }
}
label.checkbox {
    padding-left: 35px;
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        border: solid 1px $color-strokeGray;
        background: $color-white;
        width: 18px;
        height: 18px;
    }
    &.inline {
        display: inline-block;
        margin-right: 27px;
    }
    input {
        display: none;
    }
    &.checked:after {
        content: "\f00d";
        @include iconFont();
        display: block;
        position: absolute;
        top: 5px;
        left: 3px;
        font-size: 10px;
    }
}
label.radio {
    display: none;
}
.alignCenter {
    text-align: center;
}

.alignRight{
    display: block;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

.margin-bottom {
    margin-bottom: 20px;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0 !important;
}

.popOn {
	-webkit-animation-name: animScale;
	animation-name: animScale;
	-webkit-animation-duration: 0.25s;
	animation-duration: 0.25s;
    display: block !important;
}
.popOff {
    opacity: 0;
	-webkit-animation-name: animScaleOff;
	animation-name: animScaleOff;
	-webkit-animation-duration: 0.25s;
	animation-duration: 0.25s;
}
.noBorderTop {
    border-top: none !important;
}
.allCaps {
    text-transform: uppercase !important;
}
.inner {
    padding: 0 10px;
    max-width: 1350px;
    margin: 0 auto;
    text-align: left;
    @include clearfix();
    @media screen and (min-width: $break-tabletSmall) {
        padding: 0 30px;
    }
}

div#overlay {
    // background: rgba(255,255,255,.8);
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: 10;
    display: none;
    @media screen and (min-width: 1150px) {
        top: 75px;
    }
    @media screen and (min-width: $break-desktopSmall) {

    }
}

.left{ float: left !important; }
.right{ float: right !important; }