/*-----
	Content Styles
	TOC

	Section 1: Global styles
	Section 2: Link and button styles
	Section 3: Components
	Section 4: Full width sections
	Section 5: Card Styles
	Section 6: Bullet Box
	Section 7: Headings
	Section 8: Insight Details
	-----*/

//
//	Section 1: Global styles
//
///////////////////////////


.avatar {
	border-radius: 600px;
	border: solid 2px $color-white;
	max-width: 136px;
	max-height: 136px;
	&.avatar-medium {
		max-width: 175px;
		max-height: 175px;
	}
}

.standard-block {
	position: relative;
	padding-left: 170px;
	img.avatar {
		position: absolute;
		left: 0;
	}
	@media (max-width: 933px) {
		padding-left: 105px;
		img.avatar {
			max-width: 90px;
			max-height: 90px;
		}
	}
	@media (max-width: 500px) {
		padding-left: 0;
		img.avatar {
			max-width: 112px;
			max-height: 112px;
			position: relative;
			display: block;
			text-align: center;
			margin: 18px auto;
		}
	}
}

.open-space {
	letter-spacing: 2px;
}

p.details {
	border-top: solid 1px $color-gray;
	font-size: 14px;
	padding-top: 8px;
}

.color-block {
	margin: 10px 0 10px 0;
	width: 300px;
	padding: 15px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: $color-white;
	&:first-child {
		margin-top: 80px;
	}
	&:last-child {
		margin-bottom: 80px;
	}
}

.pagination {
	a {
		border: none;
		&:not(:first-child):not(:last-child) {
			color: $color-darkGray;
		}
	}
	margin-bottom: 300px; //delete if needed, only for demo purposes
}


//
//	Section 2: Link and button styles
//
///////////////////////////

[class*="btn"] {
}

[class*="btn-solid-"] {
}

[class*="btn-ghost-"] {
	border-width: 2px;
	border-style: solid;
}

.btn {
	padding: 12px 24px;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	transition: all .2s ease;
	display: inline-block;
	color: $color-white;
	background-color: $color-orange;
	&:hover {
		background-color: lighten($color-orange, 3);
	}
}

.btn-ghost-white {
	border-color: $color-white;
	color: $color-white;
	&:hover {
		background-color: $color-white;
		border-color: $color-white;
		color: $color-darkGray;
	}
}

.navy a{
	background-color: $color-navy;
	border: 1px solid $color-white;
	&:hover {
		background-color: $color-white;
		color: $color-navy;
	}
}

//aside nav
aside.side-nav {
	ul {
		padding: $standard-padding;
		background-color: $color-offWhite;
		&:first-child:not(:last-child) {
			padding-bottom: 10px;
		}
		li {
			line-height: 1.9em;
		}
	}
	.featured-content {
		padding: 45px 25px;
		background-size: cover;
		background-position: center center;
		margin-bottom: $standard-bottomMargin*2;
	}
}




//
//	Section 3: Components
//
///////////////////////////


blockquote {
	font-size: 35px;
	@include font-roboto-light();
	line-height: 1.5em;
	padding: 35px 55px;
	position: relative;
	&:before, &:after {
		@include iconFont();
		font-size: 26px;
	}
	&:before {
		position: absolute;
		content: '\f00d';
		left: 0;
		top: 0;
	}
	&:after {
		content: '\f00e';
		position: relative;
		bottom: -20px;
		right: -20px;
	}
	+ cite {
		padding-left: 55px;
		margin-top: 10px;
		display: block;
		font-size: 16px;
		line-height: 1em;
		@include font-primary-bold();
		text-transform: uppercase;
		small {
			display: block;
			text-transform: none;
			font-size: 14px;
			font-weight: 400;
			margin-top: 12px;
		}
	}
	@media (max-width: 933px) {
		font-size: 24px;
		padding: 35px 0px;
		+ cite {
			padding-left: 0;
		}
	}

}

//
//	Section 4: Full width sections
//
///////////////////////////

.callouts {
	@include clearfix();
	margin-bottom: $standard-bottomMargin *3;
	text-align: center;
	p {
		padding: 0 10px;
	}
}
i.fa.title-icon {
	color: $color-blue;
	text-align: center;
	display: block;
	margin: $standard-bottomMargin auto;
	font-size: 108px;
}

article {
	width: 100%;
	&.text-center {
		text-align: center;
		section {
			text-align: center;
		}
	}
	&.navy {
		background-color: $color-navy;
		padding: 40px 0;
		color: $color-white;
		h4 {
			margin-bottom: $standard-bottomMargin;
			letter-spacing: 2px;
		}
		a.btn-ghost-white:hover {
			color: $color-navy;
		}
	}
	&.blue {
		background-color: $color-blue;
		padding: 80px 0;
		color: $color-white;
		.standard-block {
			padding-left: 210px;
			@media (max-width: 933px) {
				padding-left: 0;
				img.avatar {
					max-width: 140px;
					max-height: 140px;
					display: block;
					position: relative;
					margin: 0 auto 40px;
				}
			}
		}
		a.btn-ghost-white:hover {
			color: $color-blue;
		}
	}
	&.image-dots {
		background-image: url('images/dot-bg.jpg');
		position: relative;
		padding: 118px 0;
		.image-half {
			position: absolute;
			top: 0;
			height: 100%;
			width: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: right center;
			img {
				position: absolute;
			    right: 64px;
			    top: 0;
			    bottom: 0;
			    margin: auto;
			}
		}
	    @media (max-width: 768px) {
	    	padding: 0 0 50px;
			.image-half {
		    	position: relative;
		    	width: 100%;
		    	height: 300px;
		    	margin-bottom: 50px;
		    	img {
		    		right: 0;
		    		left: 0;
		    	}
	    	}
	    }
		h5 {
			margin-bottom: $standard-bottomMargin;
		}
		h3 {
			a {
				color: $color-orange;
				&:hover {
					border-color: $color-orange;
				}
			}
		}
	}
}

.alternate-sides {
	article.image-dots:nth-of-type(even) {
		.image-half {
			right: 0;
			img {
				left: 64px;
				right: auto;
			    @media (max-width: 768px) {
			    	left: 0;
			    	right: 0;
			    }
			}
		}
	}
}


//
//	Section 5: Card Styling
//
///////////////////////////
.card-cover{
	background-color: $color-lightGray;
	border-radius: $border-radius $border-radius 0 0;
	height: 300px;
	padding: $standard-padding;
	position: relative;
	i.fa.title-icon{
		background-color: $color-navy;
		color: $color-white;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		width: 200px;
		height: 200px;
		border-radius: $bajillion;
		&:before{
			position: relative;
			top: 25%;
		}
	}
}

.card-content{
	background-color: $color-offWhite;
	border-radius: 0 0 $border-radius $border-radius;
	padding: $standard-padding;
}

//
//	Section 6: Bullet Styling
//
///////////////////////////

.bullet-header {
	margin-bottom: $standard-bottomMargin;
	p {
		border-top: 1px solid $color-orange;
		max-width: 600px;
		margin: 0 auto;
		padding: $standard-padding;
    }
}

.bullet-box{
	max-width: 80%;
	margin: 0 auto;
    vertical-align: top;
}

i.fa.bullet-icon{
	float: left;
	margin-top: 5px;
	margin-right: 25px;
}

//
//	Section 7: Header Styles
//
///////////////////////////

header.page-header {
	width: 100%;
	padding: 70px 0px;
	margin-bottom: 80px;
	section.inner {
		text-align: center;
	}
	h1 {
		max-width: 1000px;
		margin: 0 auto;
	}
	p {
		color: $color-white;
		max-width: 800px;
		margin: 20px auto;
		font-size: 20px;
	}
	address, small {
		color: $color-white;
		display: block;
		text-align: center;
		margin: 15px auto;
		+ a.btn {
			margin-top: 15px;
		}
	}
	address {
		text-transform: uppercase;
		font-weight: 700;
	}
	&:not(.featured-header) a.btn {
		background-color: transparent;
		border: solid 2px $color-white;
		color: $color-white;
		&:hover {
			background-color: $color-white;
		}
	}
	&.color-blue {
		background-color: $color-blue;
		a.btn:hover {
			color: $color-blue;
		}
	}
	&.color-orange {
		background-color: $color-orange;
		a.btn:hover {
			color: $color-orange;
		}
	}
	&.color-navy {
		background-color: $color-navy;
		a.btn:hover {
			color: $color-navy;
		}
	}
	&.color-green {
		background-color: $color-green;
		a.btn:hover {
			color: $color-green;
		}
	}
	&.color-yellow {
		background-color: $color-yellow;
		a.btn:hover {
			color: $color-yellow;
		}
	}
	&.background-dots {
		background-image: url('images/dot-bg-transparent.png');
	}
	&.background-gears {
		background-image: url('images/gearz.svg');
		background-size: 2258px 688px;
		background-position: center 20%;
		background-repeat: no-repeat;
	}
	&.image-header {
		overflow: hidden;
		section.inner {
			text-align: left;
			position: relative;
			@media (max-width: 720px) {
				text-align: center;
			}
		}
		h1,p {
			max-width: 650px;
			margin: 0;
			@media (max-width: 933px) {
				max-width: 550px;
			}
			@media (max-width: 820px) {
				max-width: 480px;
			}
			@media (max-width: 720px) {
				max-width: 100%;
			}
		}
		p {
			margin: 20px 0;
		}
		svg.paint-image {
			position: absolute;
			width: 1270px;
			height: 690px;
			top: -82px;
			right: -580px;
			@media (max-width: 1330px) {
				right: -650px;
			}
			@media (max-width: 1240px) {
				right: -720px;
			}
			@media (max-width: 1180px) {
				right: -880px;
			}
			@media (max-width: 990px) {
				right: -970px;
			}
			@media (max-width: 720px) {
				display: none;
			}
		}
	}
	&.callout-header {
		padding: 120px 0;
		h1,p {
			max-width: 500px;
			@media (max-width: 933px) {
				max-width: 400px;
			}
			@media (max-width: 820px) {
				max-width: 330px;
			}
			@media (max-width: 720px) {
				max-width: 100%;
			}
		}
		&.image-header {
			svg.paint-image {
				top: -150px;
				right: -480px;
				@media (max-width: 1330px) {
					right: -550px;
				}
				@media (max-width: 1240px) {
					right: -620px;
				}
				@media (max-width: 1180px) {
					right: -780px;
				}
				@media (max-width: 990px) {
					right: -870px;
				}
				@media (max-width: 720px) {
					display: none;
				}
			}
		}
	}
	&.featured-header {
		background-size: cover;
	}
}

//
//	Section 8: Insight Detail Styling
//
///////////////////////////

.about-author {
	padding-top: 50px;
	padding-bottom: 50px;
}

.insight-text {
	margin-top: 40px;
	cite {
		margin-bottom: $standard-bottomMargin;
	}

	section {
		margin-bottom: $standard-bottomMargin;
	}

	input {
		width: 100%;
		border: 1px solid $color-gray;
		&[placeholder] {
			padding-left: 10px;
		}
	}

	.tag {
		color: $color-orange;
	}
}

.post-nav a{
	cursor: hand;
	&:last-child {
		float: right;
		i {
			margin-left: 5px;
		}
	}
}

.about-author img{
	position: absolute;
    left: 0;
}

.about-author div{
	padding-left: 50px;
}

.comments {
	p {
		border-bottom: 1px solid $color-gray;
	}
	span {
		border-bottom: 1px solid $color-orange;
		padding-bottom: 3px;
	}
}

@media screen and (max-width: 500px) {
	.about-author .content {
		padding-left: 0;
		& h4 {
			text-align: center;
		}

		& p {
			margin: 0 auto;
		}
	}
}