/*-----
	Content Styles
	TOC

	Section 1: Global styles
	Section 2: Link and button styles
	Section 3: Components
	Section 4: Full width sections
	Section 5: Card Styles
	Section 6: Bullet Box
	Section 7: Headings
	Section 8: Insight Details
	Section 9: 404 Page
	Section 10: Contact Page
	Section 11: Demo Page
	Section 12: Thanks Page
	Section 13: Insights Listing
	Section 14: Gated Content
	-----*/

//
//	Section 1: Global styles
//
///////////////////////////

.avatar {
	border-radius: 600px;
	border: solid 2px $color-white;
	max-width: 136px;
	max-height: 136px;
	&.avatar-medium {
		max-width: 175px;
		max-height: 175px;
	}
}

.standard-block {
	position: relative;
	padding-left: 170px;
	margin-bottom: $standard-bottomMargin * 3; //this margin was set for demoing in styles.php. if needed this can be changed to any value for actual application, but delete this comment if you do so
	img.avatar {
		position: absolute;
		left: 0;
	}
	@media (max-width: 933px) {
		padding-left: 105px;
		img.avatar {
			max-width: 90px;
			max-height: 90px;
		}
	}
	@media (max-width: 500px) {
		padding-left: 0;
		img.avatar {
			max-width: 112px;
			max-height: 112px;
			position: relative;
			display: block;
			text-align: center;
			margin: 18px auto;
		}
	}
}

img {
	&.alignleft {
		float: left;
		margin-right: $standard-bottomMargin;
	}
	&.alignright {
		float: right;
		margin-left: $standard-bottomMargin;
	}
	&.aligncenter {
		margin: 0 auto;
	}
	&.alignnone {
		float: none;
		margin: 0;
	}
}

.open-space {
	letter-spacing: 2px;
}

p.details {
	border-top: solid 1px $color-gray;
	font-size: 14px;
	padding-top: 8px;
}

.color-block {
	margin: 10px 0 10px 0;
	width: 300px;
	padding: 15px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: $color-white;
	&:first-child {
		margin-top: 80px;
	}
	&:last-child {
		margin-bottom: 80px;
	}
}

.pagination {
	a {
		border: none;
		&:not(:first-child):not(:last-child) {
			color: $color-darkGray;
		}
	}
}
section.pagination {
    div.inner {
    	text-align: center;
    }
    h2 {
    	display: none;
    }
    span.meta-nav {
    	display: none;
    }
	div.nav-links {
	    @media screen and (min-width: 767px) {
	    	padding: 0 30px;
	    }
	    span.current {
    	    font-weight: 700;
	    }
	    a.prev,
	    a.next {
	    	content: "";
	    	display: inline-block;
		    font: normal normal normal 14px/1 'MotivisWebsite';
		    font-size: inherit;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
	    	span {
	    		display: none;
	    	}
	    	&:before {
	    		content: '\f000';
	    	}
	    }
	    a.next:before {
	    	content: '\f001';
	    }
	}
}

//
//	Section 2: Link and button styles
//
///////////////////////////

[class*="btn"] {
}

[class*="btn-solid-"] {
}

[class*="btn-ghost-"] {
	border-width: 2px;
	border-style: solid;
}

.btn {
	padding: 12px 24px;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	transition: all .2s ease;
	display: inline-block;
	color: $color-white;
	background-color: $color-orange;
	&:hover {
		background-color: lighten($color-orange, 3);
	}
}

.btn-ghost-white {
	border-color: $color-white;
	color: $color-white;
	&:hover {
		background-color: $color-white;
		border-color: $color-white;
		color: $color-darkGray;
	}
}

.navy a.btn{
	background-color: $color-navy;
	border: 2px solid $color-white;
	&:hover {
		background-color: $color-white;
		color: $color-navy;
	}
}

.blue a.btn{
	background-color: $color-blue;
	border: 2px solid $color-white;
	&:hover {
		background-color: $color-white;
		color: $color-blue;
	}
}

.orange a.btn{
	background-color: $color-orange;
	border: 2px solid $color-white;
	&:hover {
		background-color: $color-white;
		color: $color-orange;
	}
}

.green a.btn{
	background-color: $color-green;
	border: 2px solid $color-white;
	&:hover {
		background-color: $color-white;
		color: $color-green;
	}
}

.yellow a.btn{
	background-color: $color-yellow;
	border: 2px solid $color-white;
	&:hover {
		background-color: $color-white;
		color: $color-yellow;
	}
}

//aside nav
aside.side-nav {
	ul {
		padding: $standard-padding;
		background-color: $color-offWhite;
		&:first-child:not(:last-child) {
			padding-bottom: 10px;
		}
		li {
			line-height: 1.9em;
		}
	}
	.featured-content {
		padding: 45px 25px;
		background-size: cover;
		background-position: center center;
		margin-bottom: $standard-bottomMargin*2;
	}
}




//
//	Section 3: Components
//
///////////////////////////

nav.secondary-nav {
	background-color: $color-white;
	@include lightShadow();
	.current-menu-item > a {
		border-bottom: 1px solid $color-orange;
	}
}

div.single-column {
	width: 800px;
	margin: 0 auto;
	@media (max-width: 850px) {
		width: 100%;
	}
	div.blockquote {
		width: 350px;
		float: right;
		padding-left: 20px;
		@media (max-width: 768px) {
			padding-left: 0;
			float: none;
			width: 100%;
		}
	}
}


blockquote {
	font-size: 25px;
	@include font-roboto-light();
	line-height: 1.5em;
	padding: 15px 40px;
	position: relative;
	&:before, &:after {
		@include iconFont();
		font-size: 18px;
		color: $color-blue;
	}
	&:before {
		position: absolute;
		content: '\f00d';
		left: 0;
		top: 0;
	}
	&:after {
		content: '\f00e';
		position: relative;
		bottom: -20px;
		right: -20px;
	}
	+ p cite {
		padding-left: 45px;
		margin-top: $standard-bottomMargin;
		display: block;
		font-size: 16px;
		line-height: 1em;
		@include font-primary-bold();
		text-transform: uppercase;
		margin-bottom: $standard-bottomMargin;
		small {
			display: block;
			text-transform: none;
			font-size: 14px;
			font-weight: 400;
			margin-top: 12px;
		}
	}
	@media (max-width: 933px) {
		font-size: 24px;
		padding: 25px 0px;
		+ p cite {
			padding-left: 0;
		}
	}
}

.image-highlight {
	margin-top: $standard-bottomMargin*2;
	img {
		border: solid 1px $color-lightGray;
		box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.21);
		margin-bottom: $standard-bottomMargin * 2;
	}
	.pull-right {
		@media (max-width: 992px) {
			width: 100%;
		}
	}
}

.team-members {
	max-width: 1050px;
	margin: 0 auto;
	img {
		border-radius: $bajillion;
		margin-bottom: $standard-bottomMargin;
		min-height: 238px;
	}
	h4 {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	small {
		display: block;
		text-align: center;
		margin-bottom: $standard-bottomMargin;
	}
}

.scroll-fade {
	opacity: 0;
	transition: opacity 1.25s ease;
	&.fade-in {
		opacity: 1;
	}
}

.secondary-nav {
	background-color: $color-white;
	padding: $standard-padding;
	z-index: 1000;
	ul {
		text-align: center;
		li {
			display: inline-block;
			margin: 0 18px;
			a {
				text-transform: uppercase;
				font-weight: 700;
				font-size: 14px;
				&.active {
					border-bottom: solid 2px $color-orange;
				}
			}
		}
	}
}

.fixed-secondary-nav {
	position: fixed;
    top: 0;
    width: 100%;
}


.full-width-banner-img {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	height: 500px;
}


//
//	Section 4: Full width sections
//
///////////////////////////

.callouts {
	@include clearfix();
	margin-bottom: $standard-bottomMargin *3;
	text-align: center;
	p {
		padding: 0 25px;
	}
}

i.motivis.title-icon {
	color: $color-darkGray;
	text-align: center;
	display: block;
	margin: $standard-bottomMargin auto;
	font-size: 108px;
}

article section, article[class ^= "post-"], div.entry-content {
	ul {
		list-style: none;
		margin: $standard-bottomMargin;
		li {
			padding-left: 20px;
			position: relative;
			&:before {
				top: 14px;
	    		left: 0;
				content: "";
				height: 5px;
				width: 5px;
				position: absolute;
				background-color: $color-darkGray;
				border-radius: $bajillion;
			}
		}
	}
	ol {
		margin: $standard-bottomMargin $standard-bottomMargin + 16px;
		list-style: decimal;
	}
}

article section.text-left {
	h2, h3 {
		margin: 0 auto;
		margin-bottom: $standard-bottomMargin;
		padding: 0;
	}
}

article.text-center {
	text-align: center;
}

div {
	&.white {
		background-color: $color-white;
	}
}

section {
	width: 100%;
	padding: 50px 0;
	&.text-center {
		text-align: center;
		div.section, div.inner {
			text-align: center;
		}
	}
	&.solid-banner {
		padding: 40px 0;
		h4 {
			margin-bottom: $standard-bottomMargin;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 20px;
		}
		.standard-block {
			margin: 40px auto;
			padding-left: 210px;
			@media (max-width: 933px) {
				padding-left: 0;
				img.avatar {
					max-width: 140px;
					max-height: 140px;
					display: block;
					position: relative;
					margin: 0 auto 40px;
				}
			}
		}
	}
	&.navy {
		background-color: $color-navy;
		color: $color-white;
		blockquote {
			&:before, &:after {
				color: $color-white;
			}
		}
	}
	&.blue {
		background-color: $color-blue;
		color: $color-white;
		blockquote {
			&:before, &:after {
				color: $color-white;
			}
		}
	}
	&.green {
		background-color: $color-green;
		color: $color-white;
		blockquote {
			&:before, &:after {
				color: $color-white;
			}
		}
	}
	&.orange {
		background-color: $color-green;
		color: $color-white;
		blockquote {
			&:before, &:after {
				color: $color-white;
			}
		}
	}
	&.yellow {
		background-color: $color-yellow;
		color: $color-white;
		blockquote {
			&:before, &:after {
				color: $color-white;
			}
		}
	}
	&.gray {
		background-color: $color-fadedGray;
	}
	&.white {
		background-color: $color-white;
	}
	&.dots {
		background-image: url('images/dot-bg.jpg');
	}
	&.case-study {
		position: relative;
		.image-half {
			position: absolute;
			top: 0;
			height: 100%;
			width: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: right center;
			img {
				position: absolute;
			    right: 64px;
			    top: 0;
			    bottom: 0;
			    margin: auto;
			}
		}
		h5 {
			margin-bottom: $standard-bottomMargin;
		}
		h3 {
			a {
				color: $color-orange;
			}
		}
	}
}

section.case-study {
	&.content-right {
		.image-half {
			right: 0;
			img {
				left: 64px;
				right: auto;
			    @media (max-width: 768px) {
			    	left: 0;
			    	right: 0;
			    }
			}
		}
	}
	@media (max-width: 767px) {
    	padding: 0 0 50px;
		.image-half {
	    	position: relative;
	    	width: 100%;
	    	height: 300px;
	    	margin-bottom: 50px;
	    	img {
	    		right: 0;
	    		left: 0;
	    	}
    	}
    }
}


//
//	Section 5: Card Styling
//
///////////////////////////
.card-cover{
	background-color: $color-lightGray;
	border-radius: $border-radius $border-radius 0 0;
	height: 300px;
	padding: $standard-padding;
	position: relative;
	i.motivis.title-icon{
		background-color: $color-navy;
		color: $color-white;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		width: 200px;
		height: 200px;
		border-radius: $bajillion;
		&:before{
			position: relative;
			top: 25%;
		}
	}
}

.card-content{
	background-color: $color-offWhite;
	border-radius: 0 0 $border-radius $border-radius;
	padding: $standard-padding;
	margin-bottom: $standard-bottomMargin;
}

//
//	Section 6: Bullet Box Styling
//
///////////////////////////

.bullet-box {
	position: relative;
	margin-bottom: $standard-bottomMargin;
	.content {
		padding: 15px 15px 0 15px;
		p {
			margin-bottom: 5px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	i.motivis {
		position: absolute;
		top: 18px;
		color: $color-darkGray;
		font-size: 28px;
		+ .content {
			padding-left: 50px;
		}
	}
}

//
//	Section 7: Header Styles
//
///////////////////////////

header.page-header {
	width: 100%;
	padding: 70px 0px;
	div.inner, section.inner {
		text-align: center;
	}
	h1 {
		max-width: 1000px;
		margin: 0 auto;
		a {
			color: $color-white;
			&:hover {
				border-color: $color-white;
			}
		}
		+ a.btn {
			margin-top: $standard-bottomMargin;
		}
	}
	p {
		color: $color-white;
		margin: 20px auto;
		font-size: 20px;
	}
	address, small {
		color: $color-white;
		display: block;
		text-align: center;
		margin: 15px auto;
		font-size: 16px;
		+ a.btn {
			margin-top: 15px;
		}
	}
	address {
		text-transform: uppercase;
		font-weight: 700;
	}
	&:not(.featured-header) a.btn {
		background-color: transparent;
		border: solid 2px $color-white;
		color: $color-white;
		&:hover {
			background-color: $color-white;
		}
	}
	&.blue {
		background-color: $color-blue;
		a.btn:hover {
			color: $color-blue;
		}
	}
	&.orange {
		background-color: $color-orange;
		a.btn:hover {
			color: $color-orange;
		}
	}
	&.navy {
		background-color: $color-navy;
		a.btn:hover {
			color: $color-navy;
		}
	}
	&.green {
		background-color: $color-green;
		a.btn:hover {
			color: $color-green;
		}
	}
	&.yellow {
		background-color: $color-yellow;
		a.btn:hover {
			color: $color-yellow;
		}
	}
	&.dots {
		background-image: url('images/dot-bg-transparent.png');
	}
	&.gears {
		background-image: url('images/gearz.svg');
		background-size: 2258px 688px;
		background-position: center 20%;
		background-repeat: no-repeat;
	}
	&.image {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	&.full-background-image {
		background-size: cover;
		background-position: center center;
	}
	&.image-header {
		overflow: hidden;
		div.inner {
			text-align: left;
			position: relative;
			@media (max-width: 720px) {
				text-align: center;
			}
		}
		h1,p {
			max-width: 650px;
			margin: 0;
			@media (max-width: 933px) {
				max-width: 550px;
			}
			@media (max-width: 820px) {
				max-width: 480px;
			}
			@media (max-width: 720px) {
				max-width: 100%;
			}
		}
		p {
			margin: 20px 0;
		}
		svg.paint-image {
			position: absolute;
			width: 1270px;
			height: 690px;
			top: -82px;
			right: -580px;
			@media (max-width: 1330px) {
				right: -650px;
			}
			@media (max-width: 1240px) {
				right: -720px;
			}
			@media (max-width: 1180px) {
				right: -880px;
			}
			@media (max-width: 990px) {
				right: -970px;
			}
			@media (max-width: 720px) {
				display: none;
			}
		}
	}
	&.callout-header {
		padding: 120px 0;
		h1,p {
			max-width: 500px;
			@media (max-width: 933px) {
				max-width: 400px;
			}
			@media (max-width: 820px) {
				max-width: 330px;
			}
			@media (max-width: 720px) {
				max-width: 100%;
			}
		}
		&.image-header {
			svg.paint-image {
				top: -150px;
				right: -480px;
				@media (max-width: 1330px) {
					right: -550px;
				}
				@media (max-width: 1240px) {
					right: -620px;
				}
				@media (max-width: 1180px) {
					right: -780px;
				}
				@media (max-width: 990px) {
					right: -870px;
				}
				@media (max-width: 720px) {
					display: none;
				}
			}
		}
	}
	&.featured-header {
		background-color: $color-black;
		position: relative;
		div.background-image {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-size: cover;
			background-position: center center;
			opacity: .2;
			filter: blur(5px);
			-webkit-filter: blur(5px);
			-moz-filter: blur(5px);
			-o-filter: blur(5px);
			-ms-filter: blur(5px);
			filter: url(#blur);
			filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
			a:not(.btn) {
				color: $color-white;
				&:hover {
					border-color: $color-white;
				}
			}
		}
		div.inner {
			position: relative;
		}
	}
	div.author-info {
		h2.author-title {
			text-align: left;
    		margin: 0;
    		color: $color-white;
		}
		p.author-bio {
			text-align: left;
		}
	}
}

//
//	Section 8: Insight Detail Styling
//
///////////////////////////

body.single {
	.at4-share-outer {
        display: block !important; 
    }
}

.single-post main {
	background-color: $color-white;
	header.page-header {
		margin-bottom: $standard-bottomMargin;
	}

}

.entry-content, nav.post-navigation, .comments-area {
	max-width: 1000px;
	padding-left: 25px;
	padding-right: 25px;
	margin: 0 auto;
	text-align: left;
	figure {
		margin-bottom: $standard-bottomMargin;
		figcaption {
			margin-top: 10px;
			font-size: 16px;
		}
	}
}

table {
	margin-bottom: $standard-bottomMargin;
	td:not(:first-child) {
		padding: 5px 50px 0px 50px;
	}
}

div.entry-content {
	p {
		font-size: 18px;
	}
}

div.author-info {
	.author-avatar {
		width: 9%;
		display: inline-block;
		margin-right: $standard-bottomMargin;
		img {
			height: 90px;
			width: 90px;
			border-radius: $bajillion;
		}
	}
	.author-description {
		width: 85%;
		display: inline-block;
		vertical-align: top;
		h2.author-title {
			@include font-primary-bold();
			font-size: 14px;
			padding: 0;
			margin-bottom: $standard-bottomMargin/2;
			text-transform: uppercase;
			span {
				text-transform: uppercase;
			}
		}
		p {
			font-size: 16px;
		}
	}
}

.comments-area {
	padding: 25px;
	ol li {
		margin-top: $standard-bottomMargin;
	}
	.comment-author {
		img {
			display: inline;
		}
		b, span {
			display: inline-block;
			vertical-align: top;
			margin-top: 5px;
		}
	}
	h2 {
		font-size: 20px;
		padding: 0px;
		margin-bottom: 0px;
	}
	form {
		.comment-notes {
			font-size: 12px;
		}
		.required {
			color: $color-orange;
		}
		p {
			label {
				display: block;
				text-transform: uppercase;
    			font-weight: bold;
    			font-size: 12px;
    			margin-bottom: 5px;
			}
			input {
				width: 500px;
			}
			input[type="submit"] {
				height: 40px;
				width: 110px;
				cursor: pointer;
				border-radius: $border-radius();
				border: none;
				outline: none;
				background-color: $color-orange;
				color: $color-white;
				font-size: 12px;
				@include font-primary-bold();
				&:hover {
					background-color: lighten($color-orange, 3);
				}
			}
		}

		.comment-form-comment {
			textarea {
				width: 500px;
    			height: 100px;
    			border: none;
				border: 1px solid $color-gray;
				background-color: $color-offWhite;
				&:focus {
					border: 1px solid $color-orange;
					outline: none;
				}
			}
		}
	}
}

@media (max-width: 976px) {
	div.author-info {
		.author-avatar, .author-description {
			display: block;
			width: 100%;
		}
		.author-avatar {
			margin: $standard-bottomMargin auto;
		}
	}
}

@media (max-width: 768px) {
	.comments-area {
		p {
			input {
				max-width: 100%;
			}
		}
		textarea {
			max-width: 100%;
		}
	}
}

//
//	Section 9: 404 Page
//
///////////////////////////

.error404 article{
	h2 {
		font-size: 120px;
		color: $color-iceCreamBlue;
	}

	p {
		font-size: 30px;
		&:nth-of-type(2) {
			color: $color-iceCreamBlue;
		}
	}

	li {
		font-size: 20px;
		cursor: pointer;
	}
}

//
//	Section 10: Contact/Demo Page
//
///////////////////////////

article.contactdemo-page {
	.row {
		div.form-container {
			padding-left: 50px;
			border-left: 1px solid $color-gray;
		}
		p {
			padding-right: 25px;
		}
		h2 {
			@include font-roboto-light();
			padding: 0;
			margin-bottom: 0;

			& ~ p {
				margin-bottom: $standard-bottomMargin;
			}
		}

		a:hover {
			border-bottom: transparent;
		}

		span.bold {
			font-weight: bold;
		}
	}
	i {
		width: 45px;
		height: 45px;
		position: relative;
		font-size: 20px;
    	background-color: $color-orange;
    	color: $color-white;
    	border-radius: 3px;
    	text-align: center;

    	&:before {
    		@include absoluteCenter(100%, 20px);
    	}

    	&:hover {
    		background-color: lighten($color-orange, 3);
    	}
	}
}

@media (max-width: 991px) {
	article.contactdemo-page .row {
		h2, p {
			text-align: center;
		}
		div.form-container {
			border-left: none;
			padding-left: 15px;
		}
		p {
			padding-right: 0;
		}
	}
}

//
//	Section 12: Thanks Page
//
///////////////////////////

.thanks-page article div.section {
	display: inline-block;
	span.orange {
		color: $color-orange;
	}
}

//
//	Section 13: Insights Listing
//
///////////////////////////



article.post {
	font-size: 16px;
	padding: 50px;
	border-bottom: 1px solid $color-gray;
	background-color: $color-white;
	text-align: center;

	& * {
		margin: 0px auto;
	}

	.details a {
		color: $color-blue;
		cursor: pointer;
		&:hover {
			border-color: $color-blue;
		}
	}

	h3 {
		max-width: 650px;
		margin-top: $standard-bottomMargin;
		a {
			color: $color-orange;
			cursor: pointer;
		}
	}
	p {
		max-width: 750px;
		font-size: 18px;
		margin-top: $standard-bottomMargin;
	}
}

.screen-reader-text {
	display: none;
}

div.search {
	background-color: $color-offWhite;
	.inner {
		text-align: center;
		padding-top: $standard-bottomMargin;
		form {
			display: inline-block;
			vertical-align: top;
			select {
				display: none;
			}
			.dropdown-toggle {
				height: 40px;
				width: 210px;
				border-radius: 0;
				margin-right: 20px;
			}
			.filter-option {
				display: block;
				margin-top: -3px;
				margin-right: 10px;
				color: $color-charcoal;
				text-transform: none;
			}
			.bootstrap-select {
				ul.dropdown-menu.inner {
					max-height: 300px !important;
					li:first-child {
						display: none;
					}
				}
			}
			&.search {
				button {
					display: none;
				}
				input[type='text'] {
					background-color: $color-white;
					background-image: url('images/header-search.png');
					background-repeat: no-repeat;
					background-position: 8px 10px;
					padding-right: 8px;
					padding-left: 35px;
					@media (min-width: 350px) {
						width: 310px;
					}
				}
				i {
					margin-left: -30px;
				}
			}
			&.category-select {
				input[type="submit"] {
					display: none;
				}
				select {
					border: 1px solid $color-gray;
					border-radius: 0px;
				}
			}
		}
	}
}

form#tag-select input {
	display: none;
}