/*-----
	Footer Styles
	-----*/
footer {	 
	p, small {
		@include font-primary-regular();
	}

	h4 {
		@include font-roboto-light();
		font-size: 25px;
	}

	ul {
		margin-bottom: 35px;
			li:first-of-type h5{
				@include font-primary-regular();
			}

			li a {
				@include font-roboto-light();
				font-size: 20px;
			}
		}
	a {
		cursor: pointer;
		&.logo {
			display: block;
    		text-indent: -10000px;
    		text-align: left;
    		font-size: 0;
    		width: 290px;
    		height: 62px;
    		background-image: url("images/motivis-logo.svg");
    		background-repeat: no-repeat;
    		background-size: 100%;
    		border: none;
    		line-height: 1.3em;
    		margin-top: $standard-bottomMargin;
		}
	}

	small:first-child { 
    	text-transform: uppercase;
	}

	section.background {
    	.col-sm-12 {
    		small {
    			display: block;
    			margin-bottom: $standard-bottomMargin;
    			color: $color-white;
    			&:first-of-type {
    				@include font-primary-bold();    			
    				margin-bottom: $standard-bottomMargin/2;
    			}
    		}
    		h5 {
    			@include font-primary-bold();
    			color: $color-white;    			
    		}
    		.padding {
    			padding-top: $standard-bottomMargin * 2;
    			padding-bottom: $standard-bottomMargin * 2;
    		}
    	}
	}

	.footer-elm:nth-of-type(2) .padding {
		padding-left: 25px;
	}

	.address a {
		color: $color-darkGray;
		&:hover {
			border-color: $color-darkGray;
		}
	}
	p {
		vertical-align: top;
		font-weight: 600;	
		text-align: left;	
	}

	.social-icon-container {
		text-align: right;
		margin-top: $standard-bottomMargin;
		a {
			border-bottom: none;
			&:not(:last-child) {
				margin-right: 10px;
			}

			&:last-child {
				margin-right: $standard-bottomMargin;
			}
		}
	}

	i {
		width: 45px;
		height: 45px;
		position: relative;
		font-size: 20px !important;    		
    	background-color: $color-orange;
    	color: $color-white;
    	border-radius: 3px;
    	text-align: center;

    	&:before {
    		@include absoluteCenter(100%, 20px);
    	}

    	&:hover {
    		background-color: lighten($color-orange, 3);
    	}
	}

	.contact-info {
		margin-top: $standard-bottomMargin;			
	}
}

@media (min-width: 768px) {
	footer section.background {
		background: linear-gradient(rgba(49, 54, 60, 0.9), rgba(49, 54, 60, 0.9)), url('images/footer-background-2.jpg');
		background-repeat: no-repeat;
    	background-size: cover;
    	background-position: center center;    	
	}
}

@media (max-width: 1036px) {
	footer h1.logo {
		margin-bottom: 0;
		a {
			width: 230px;
		}
	}
}
@media (max-width: 880px) {
	footer h1.logo {
		margin-bottom: 0;
		a {
			width: 200px;
		}
	}
}

@media(max-width: 767px) {
	footer {
		section.background {
			background: none !important;
			padding: $standard-verticalPadding 0;
		}
		.inner {
			width: 100%;
			.footer-elm {
				&:nth-of-type(1) {
					background: linear-gradient(rgba(49, 54, 60, 0.9), rgba(49, 54, 60, 0.9)), url('images/footer-background.png');
					background-repeat: no-repeat;
    				background-size: cover;
    				background-position: right center;
				}
				&:nth-of-type(2) {
					background-color: $color-navyGray;
					.padding {
						padding-left: 0;
					}
				}
			}
		}
		p {
			text-align: center;
		}

		a.logo {
			margin: 0 auto;
		}
	}
}

@media(max-width: 768px) {
	footer {
		.social-icon-container {
			text-align: center;
			margin-bottom: $standard-bottomMargin;
		}
	}
}