/*-----
	Footer Styles
	-----*/
footer {
	 a.logo {
		display: block;
    	text-indent: -10000px;
    	text-align: left;
    	font-size: 0;
    	width: 290px;
    	height: 62px;
    	background-image: url("images/motivis-logo.svg");
    	background-repeat: no-repeat;
    	background-size: 100%;
    	border: none;
    	line-height: 1.3em;
    	margin-bottom: 20px;
	}
	p, small {
		@include font-primary-regular();
	}

	h4 {
		@include font-roboto-light();
		font-size: 25px;
	}

	ul {
		margin-bottom: 35px;
			li:first-of-type h5{
				@include font-primary-regular();
			}

			li a {
				@include font-roboto-light();
				font-size: 20px;
			}
		}

	clear: both;
	a {
		cursor: pointer;
		&.logo {
			display: block;
			text-indent: -10000px;
			text-align: left;
			font-size: 0;
			width: 290px;
			height: 62px;
			background-image: url('images/motivis-logo.svg');
			background-repeat: no-repeat;
			background-size: 100%;
			border: none;
		}
	}

	small:first-child { 
    	text-transform: uppercase;
	}

	section {
		margin-top: $standard-bottomMargin;
		&.upper {
			padding: 0 10px;
		}
	}

	.footer-left {
		background: linear-gradient(rgba(49, 54, 60, 0.9), rgba(49, 54, 60, 0.9)), url('images/footer-background.png');
		background-repeat: no-repeat;
    	background-size: cover;
    	background-position: right center;    	
	}

	.footer-right {
		background-color: $color-navyGray;
		.right-content {
			padding-left: 50px;	
			h4 {
				text-transform: capitalize;
			}
			ul li {
				&:first-child {
					margin-bottom: $standard-bottomMargin;
				}
			    font-size: 18px;
			    line-height: 1.25em;
			    @include font-primary-bold();
			    margin-bottom: 15px;
			    margin-top: -4px;
			}

			a.btn {
				padding: 8px 24px;
			}
		}
	}

	.footer-left, .footer-right {
		padding-top: 90px;
    	padding-bottom: 90px;
    	text-align: left;
    	color: $color-white;

    	h5 {
    		color: $color-white;
    	}

    	h4 {
    		color: $color-orange;
    	}
	}

	.left-content {
		padding-right: 50px;
		float: right;
	}

	.lower {
		p {
			vertical-align: top;
			font-weight: 600;	
			text-align: left;	
		}

		.address a {
			color: $color-darkGray;
			border-bottom: transparent;
		}

		.social-icon-container {
			text-align: right;
			margin-top: $standard-bottomMargin;
			a {
				border-bottom: none;
				&:not(:last-child) {
					margin-right: 10px;
				}

				&:last-child {
					margin-right: $standard-bottomMargin;
				}
			}
		}

		i {
			width: 45px;
			height: 45px;
			position: relative;
			font-size: 20px;    		
    		background-color: $color-orange;
    		color: $color-white;
    		border-radius: 3px;
    		text-align: center;

    		&:before {
    			@include absoluteCenter(100%, 20px);
    		}

    		&:hover {
    			background-color: lighten($color-orange, 3);
    		}
		}

		.contact-info {
			margin-top: $standard-bottomMargin;			
		}
	}
}

@media (max-width: 1380px) {
	footer {
		.left-content, .right-content {
			max-width: 500px;
			margin: 0px auto;
			padding-left: 20px;
			padding-right: 20px;
		}

		.right-content {
			float: none;
		}
	}
}

@media (max-width: 1036px) {
	footer .lower h1.logo {
		margin-bottom: 0;
		a {
			width: 230px;
		}
	}
}
@media (max-width: 880px) {
	footer .lower h1.logo {
		margin-bottom: 0;
		a {
			width: 200px;
		}
	}
}

@media(max-width: 767px) {
	footer {
		.lower p {
			text-align: center;
		}
		.left-content {
			float: none;
			padding-left: 0px;
		}

		.footer-right .right-content {
			padding-left: 5px;
		}

		.logo a {
			margin: 0 auto;
		}
	}
}

@media(max-width: 768px) {
	footer .lower {
		.social-icon-container {
			text-align: center;
			margin-bottom: $standard-bottomMargin;
		}
	}
}