/*-----
	Header Styles
	-----*/

header.nav-header {
	position: relative;
	height: 90px;
	z-index: 200;
}

div.logo {
	float: left;
	a {
		display: block;
		text-indent: -10000px;
		text-align: left;
		font-size: 0;
		width: 290px;
		height: 82px;
		background-image: url('images/motivis-logo.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		border: none;
	}
}

nav.main-nav {
	background-color: $color-white;
	padding-top: 8px;
	width: 100%;
	border-bottom: solid 1px $color-strokeGray;
	div.logo {
		float: left;
	}
	button.mobileNavToggle {
		display: none;
	}
	.inner {
		text-align: right;
		padding: 0 10px;
		.overlay {
			display: none;
		}
		ul {
			display: inline-block;
			margin-top: 20px;
			li {
				&.current_page_item, &.current-page-ancestor, &.current_page_parent {
					a {
						border-color: rgba($color-darkGray, 1);
					} 
				}
				&.solutions {
					line-height: 1.2em;
					> a {
						padding-right: 0px !important;
					}
				}
				/*This is for solutions, fragile*/
				&:nth-of-type(2) {
					> a:after {
						@include iconFont();
						margin-left: 5px;
    					float: right;
    					font-size: 5px;
    					margin-top: 13px;
						content: '\f014';
					}
					> a.icon-up:after {
						content: '\f015';
					}
				}
				display: inline-block;
				margin-right: 20px;
				&:first-child {
					display: none;
				}
				a {
					text-transform: uppercase;
					font-size: 14px;
					font-weight: 700;
					letter-spacing: 1px;
					color: $color-darkGray;
    				display: block;
					border-bottom: solid 1px rgba($color-darkGray,0);
					&:hover {
						border-color: rgba($color-darkGray, 1);
						cursor: pointer;
					}
				}

				&.current-menu-item > a {
					cursor: pointer;
    				margin-bottom: 0px;
				}

				> ul {
					display: none;
				}

				/*For drop-down menus*/
				> .sub-menu {
					border-top: none;
					padding: 25px;
					margin-top: 29px;
					display: none;
					position: absolute;
					background-color: $color-white;
					li {
						padding-bottom: 0px;
						display: block;
						text-align: left;
						&:last-child {
							background-color: $color-white;
							padding: 0;
						}
						a {
							color: $color-orange;
							text-transform: capitalize;
							font-weight: 600;
							background-color: transparent;
							border-bottom: 1px solid transparent;
							&:hover {
								text-decoration: underline;
							}
							/*No double Drop down*/
							&:after {
								content: none;
							}
						}
					}
				}
				/*End drop down*/
			}
		}
		ul#menu-primary-menu > li:last-child {
			line-height: 1.8;
			a {
			    border-radius: 5px;
			    font-weight: 700;
			    letter-spacing: 1px;
			    transition: all .2s ease;
				padding: 5px 15px;
				background-color: $color-orange;
				border: none;
				color: $color-white;
				&:hover{
					background-color: lighten($color-orange, 3);
				}
			}
		}
	}
}


@media (max-width: 1120px) {
	nav.main-nav {
		.inner {
			padding: 0 5px;
		}
	}
}

@media (max-width: 1036px) {
	header.nav-header {
		height: 70px;
	}
	nav.main-nav {
		.inner {
			div.logo {
				margin-bottom: 0;
				a {
					width: 230px;
					height: 62px;
				}
			}
			ul {
				margin-top: 15px;
				li {

					> .sub-menu {
						margin-top: 14px;
					}

					margin-right: 15px;
					a {
						font-size: 12px;
					}
				}
			}
			a.btn {
				padding: 4px 10px;
				font-size: 12px;
			}
		}
	}
}


@media (max-width: 880px) {
	header.nav-header {
		height: 70px;
	}
	nav.main-nav {
		.inner {
			div.logo {
				margin-bottom: 0;
				a {
					width: 200px;
				}
			}
			ul {
				margin-top: 10px;
				li {
					> .sub-menu {
						margin-top: 19px;
					}
					margin-right: 10px;
					a {
						font-size: 11px;
					}
				}
			}
		}
	}
}


@media (max-width: 780px) {
	header.nav-header {
		height: 50px;
	}
	nav.main-nav {
		//mobile code goes here
		height: 50px;
		.inner {
			padding: 0;
			width: 100%;
			position: absolute;
			top: -64px;
			height: 114px;
			overflow: hidden;
			div.logo {
				position: relative;
				top: 64px;
				height: 50px;
				width: 100%;
				background-color: $color-white;
				border-bottom: solid 1px $color-strokeGray;
			}
			button.mobileNavToggle {
				display: block;
				position: absolute;
				right: 8px;
				top: 74px;
				color: $color-darkGray;
				text-transform: uppercase;
				font-size: 9px;
				font-weight: 600;
				border: none;
				background-color: transparent;
				&:before {
					display: block;
					content: '\f011';
					@include iconFont();
					font-size: 14px;
					padding-bottom: 4px;
				}
			}
			ul {
				background-color: $color-white;
				transition: none;
				right: -260px;
				width: 250px;
				position: relative;
				border-left: solid 1px $color-strokeGray;
				li {
					width: 100%;
					text-align: left;
					ul.sub-menu {
						-moz-box-shadow:    none;
  						-webkit-box-shadow: none;
  						box-shadow:         none;
					}
					a {
						background-color: $color-white;
						width: 100%;
						display: block;
						border: none;
						padding: 5px 15px;
						font-size: 14px;
						&:hover {
							background-color: $color-strokeGray;
						}
					}
					&:last-child {
						border-radius: 0;
						a {
							background-color: $color-orange;
							color: $color-white;
						}
					}
				}
			}
		}
	}

	body.mobileNavVisible {
		overflow: hidden;
		//if visible
		nav.main-nav {
			.inner {
				.menu-primary-menu-container > ul {
					height: 100vh;
				}
				height: auto;
				.overlay {
					position: fixed;
					width: 100%;
					height: 100vh;
					background-color: rgba($color-black, 0.6);
					top: 0;
					left: 0;
					display: block;
				}
				> ul {
					overflow-y: auto;
					overflow-x: hidden;
				 	li > ul.sub-menu {
						display: block;

  						h5 {
  							padding-left: 4px;
  						}
  						&:last-child {
  							margin-bottom: 5px;
  						}
					}
				}
				ul,
				a.btn {
					right: 0;
					transition: right 0.2s ease-in;
				}
				li {
					border-bottom: 1px solid $color-lightGray;
					padding-bottom: 0px;
					a {
						transition: none;
						padding: 10px 15px;

					}

					> .sub-menu {
						margin-top: 0px;
						padding: 0;
						position: relative;
						display: none;
						line-height: 2em;

						li {
							border-bottom: none;
							&:first-child {
								text-align: left;
								a {
									font-size: 14px;
								}
							}
						}
						a {
							font-weight: 600;
							line-height: 1.5em;
						}
					}
					&:first-child {
						display: block;
						text-align: right;
						a {
							font-size: 10px;
						}
					}
				}
			}
		}
	}
}